* {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://wallpaperaccess.com/full/1261770.jpg");
  height: 100vh;
  background-color: #cccccc;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.head {
}
.nav-bar {
  float: right;
  list-style: none;
  margin-top: 30px;
  font-size: 30px;
}
.nav-bar li {
  display: inline-block;
  padding: 10px;
}
.nav-bar li a {
  color: rgb(163, 163, 224);
  text-decoration: none;
  padding: 10px 20x;
  border-radius: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}
.nav-bar li a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
.logo img {
  width: 100px;
  float: left;
  height: auto;
  border-radius: 40px;
}

h2 {
  color: rgb(206, 223, 218);
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-top: 200px;
}
