* {
  margin: 0;
  padding: 0;
}
.head {
  width: 1170px;
  margin: auto;
}
header {
  background: url("home/hyf/Pictures/ilkdogangunes.jpeg");
  -webkit-background-size: cover;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.nav-bar {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-bar li {
  display: inline-block;
  padding: 10px;
}
.nav-bar li a {
  color: blue;
  text-decoration: none;
  padding: 5px 20x;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
}
.nav-bar li a:hover {
  background-color: #fff;
  color: #333;
}
