* {
  margin: 0;
  padding: 0;
}
.head {
  width: 1170px;
  margin: auto;
}
.nav-bar {
  float: right;
  list-style: none;
  margin-top: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
